<footer id="copyright">
  <a href="/{{page.lang}}/" class="logo"></a>
  
  <section id="areas">
  Precious Plastic Dublin
  </section>
  

  <nav>
    <a href="/{{page.lang}}/about">{{page.translations.about.title}}</a>
    <a href="/{{page.lang}}/faq">{{page.translations.faq.title}}</a>
    <a href="/{{page.lang}}/help-us">{{page.translations.help-us.title}}</a>
    <a href="/{{page.lang}}/thanks">{{page.translations.thanks.title}}</a>
    <a href="/{{page.lang}}/terms">{{page.translations.terms.title}}</a>
    <a href="/{{page.lang}}/contact">{{page.translations.contact.title}}</a>
    <a href="https://davehakkens.nl/donate/preciousplastic/">{{page.translations.donate.title}}</a>
  </nav>



  <a href="#" class="by" target="_blank">
      <img src="/assets/images/by.gif">

  

  <div class="social">
    <a href="https://www.facebook.com/preciousplasticdublin/" class="facebook" target="_blank"></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url | cgi_escape}}&summary=http%3A%2F%2Fyoutu.be%2F8J7JZcsoHyA" class="facebook" target="_blank"></a>
    <a href="https://twitter.com/davehakkens"></a>
    <a href="https://youtube.com/hakopdetak"></a>
    <a href="https://github.com/hakkens"></a>
    <a href="https://davehakkens.nl/mailinglist/"></a>
  </div>
    
    <nav class="social">
      <a href="https://plus.google.com/share?url={{site.url | cgi_escape}}" class="google-plus" target="_blank"></a>
      <a href="https://twitter.com/intent/tweet?url={{site.url | cgi_escape}}&text={{site.description | cgi_escape}}+%23preciousplastic+http%3A%2F%2Fyoutu.be%2F8J7JZcsoHyA" class="twitter" target="_blank"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url | cgi_escape}}&summary=http%3A%2F%2Fyoutu.be%2F8J7JZcsoHyA" class="facebook" target="_blank"></a>
      <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{site.url | cgi_escape}}&title={{site.title | cgi_escape}}" class="q-zone" target="_blank"></a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url | cgi_escape}}&title={{site.title | cgi_escape}}" class="linkedin" target="_blank"></a>
    </nav>
  
</footer>
