<footer id="copyright">
  <a href="/{{page.lang}}/" class="logo"></a>
  
  <section id="areas">
  Precious Plastic Dublin
  </section>
  
<!--
  <nav>
    <a href="/{{page.lang}}/about">{{page.translations.about.title}}</a>
    <a href="/{{page.lang}}/faq">{{page.translations.faq.title}}</a>
    <a href="/{{page.lang}}/help-us">{{page.translations.help-us.title}}</a>
    <a href="/{{page.lang}}/thanks">{{page.translations.thanks.title}}</a>
    <a href="/{{page.lang}}/terms">{{page.translations.terms.title}}</a>
    <a href="/{{page.lang}}/contact">{{page.translations.contact.title}}</a>
    <a href="https://davehakkens.nl/donate/preciousplastic/">{{page.translations.donate.title}}</a>
  </nav>
-->

<!--
  <a href="#" class="by" target="_blank">
      <img src="/assets/images/by.gif">
-->
  

  <div>
    <a href="https://www.facebook.com/preciousplasticdublin/" target="_blank"><img src="https://www.preciousplasticdublin.org/assets/images/social/facebook-bw.png"></a>
    <a href="https://www.instagram.com/preciousplasticdublin/" target="_blank"><img src="https://www.preciousplasticdublin.org/assets/images/social/instagram-bw.png"></a>
  </div>
  
</footer>
