<footer id="copyright">
  <a href="/{{page.lang}}/" class="logo"></a>
  
  <section id="areas">
  Precious Plastic Dublin
  </section>
  
 <!--
  <nav>
    <a href="/{{page.lang}}/about">{{page.translations.about.title}}</a>
    <a href="/{{page.lang}}/faq">{{page.translations.faq.title}}</a>
    <a href="/{{page.lang}}/help-us">{{page.translations.help-us.title}}</a>
    <a href="/{{page.lang}}/thanks">{{page.translations.thanks.title}}</a>
    <a href="/{{page.lang}}/terms">{{page.translations.terms.title}}</a>
    <a href="/{{page.lang}}/contact">{{page.translations.contact.title}}</a>
    <a href="https://davehakkens.nl/donate/preciousplastic/">{{page.translations.donate.title}}</a>
  </nav>
-->

<!--
  <a href="#" class="by" target="_blank">
      <img src="/assets/images/by.gif">
  </a>
-->
  

  <div class="social">
    <a href="https://www.facebook.com/preciousplasticdublin/"></a>
    <a href="https://www.instagram.com/preciousplasticdublin//"></a>
    <!-- <a href="https://twitter.com/davehakkens"></a> -->
    <!-- <a href="https://youtube.com/hakopdetak"></a> -->
    <!-- <a href="https://github.com/hakkens"></a> -->
    <!-- <a href="https://davehakkens.nl/mailinglist/"></a> -->
  </div>
  
</footer>
