	<!-- Twitter Cards -->
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.excerpt %}<meta name="twitter:description" content="{{ page.excerpt | strip_html }}">{% endif %}
	{% if site.owner.twitter %}<meta name="twitter:site" content="@{{ site.owner.twitter }}">{% endif %}
	{% if author.twitter %}<meta name="twitter:creator" content="@{{ author.twitter }}">{% endif %}
	{% if page.image.feature %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{ site.baseurl }}/images/{{ page.image.feature }}">
	{% else %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{% if page.image.thumb %}{{ site.baseurl }}/images/{{ page.image.thumb }}{% else %}{{ site.baseurl }}/images/{{ site.logo }}{% endif %}">
	{% endif %}
	<!-- Open Graph -->
	<meta property="og:locale" content="{{ site.locale }}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | strip_html }}">
		{% else %}
		<meta property="og:description" content="Precious Plastic Dublin is a group of environmentalists working on practical solutions to plastic waste and pollution in Dublin. As part of the Precious Plastic global movement, we aim to bring plastic recycling closer to the local community, enabling the public to transform their own waste, while demonstrating the remaining value of plastic waste.">
	{% endif %}
	<meta property="og:url" content="https://www.preciousplasticdublin.org{{ page.url }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:image" content="https://www.preciousplasticdublin.org/images/logo/precious-plastic-dublin-logo.jpg">
