<style>
.responsive-ads { width: 300px; height: 200px; }
@media(min-width: 520px) { .responsive-ads { width: 468px; height: 60px; } }
@media(min-width: 768px) { .responsive-ads { width: 160px; height: 600px; } }
</style>
<div id="mc_embed_signup_scroll">
<h6>Support us on GoFundMe</h6>
</div>
<iframe class='gfm-media-widget' image='1' coinfo='0' width='100%' height='100%' frameborder='0' id='precious-plastic-dublin-stage-1'></iframe><script src='//funds.gofundme.com/js/5.0/media-widget.js'></script>

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
</style>
<style type="text/css">
	#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
	#mergeRow-gdpr {margin-top: 20px;}
	#mergeRow-gdpr fieldset label {font-weight: normal;}
	#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}	
	#mc-fieldset gdprRequired mc-field-group {background:#fff;}
</style>
<div id="mc_embed_signup">
<form action="https://preciousplasticdublin.us3.list-manage.com/subscribe/post?u=50bd317cfb462d8acde94a674&amp;id=e3c5b9b009" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our Newslatter</h2>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
    <div class="content__gdpr">
        <label>Let's be GDPR compliant</label>
		
        <small>Please select all the ways you would like to hear from Precious Plastic Dublin:</small><br>
        <fieldset name="interestgroup_field">
		<label for="gdpr_21329"><input type="checkbox" id="gdpr_21329" name="gdpr[21329]" value="Y" class="av-checkbox gdpr"><span>Email</span> </label><label for="gdpr_21337"><input type="checkbox" id="gdpr_21337" name="gdpr[21337]" value="Y" class="av-checkbox gdpr"><span>Online Advertising</span> </label>
        </fieldset>
    </div>
	
    <div class="content__gdprLegal">
        <small>We use Mailchimp for our newsletter. By clicking "Subscribe" below you acknowledge that your information will be transferred to Mailchimp for processing. Learn more about Mailchimp's privacy practices <a href="https://mailchimp.com/legal/" target="_blank">here</a>.</small>
    </div>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_50bd317cfb462d8acde94a674_e3c5b9b009" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
